body {
    padding: 0px;
    margin: 0px;
    color: #004F5D;
    font-size: 16px;
    line-height: 24px ;
    font-weight: 400 ;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
    color: #004F5D;
    line-height: 100%;
}
h2 {
    font-size: 49px;
    line-height: 54px;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
}
a{
    color: #004F5D;
}
.inner-homepage-banner h1{
    font-size: 48px;
    line-height: 68px;
    font-weight: 700;
}
.inner-homepage-banner h2{
    font-size: 35px;
    line-height: 47px;
}
.funders a{
    text-decoration: none;
}
h2.project-title {
    max-width: 75%;
}
.project-detail-page{
    position: relative;
}
.project-detail-page::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 700px;
    height: 505px;
    background: url(/src/assets/our-project.png) no-repeat top right;
    z-index: 1;
    background-size: 100%;
}